.main1{
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(131, 134, 215);
}
.link2{
    text-align:right;
}
#text1{
    text-decoration:line-through
}